/* @import url(https://db.onlinewebfonts.com/c/ef3aab6eae44b00ed09594544784e6d8?family=Axiforma+Regular); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'axiforma', sans-serif;
    background-color: #09090B;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    background: #20232A;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #5b636e;  
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 77, 77)
    }
::-webkit-calendar-picker-indicator { filter: invert(100%) }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #09090B inset !important;
    -webkit-text-fill-color: rgb(250, 250, 250) !important;
    -webkit-font: "axiforma", sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;